.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  /* Ensure side-drawer can't be scrolled out of view */
  position: fixed;
  top: 0;
  left: 0;
  max-width: 70%;
  width: 300px;
  /* Ensure side-drawer is always in front of backdrop (z-index: 100) */
  z-index: 200;
  /* Move the drawer along the X axis to be out of view */
  transform: translateX(-100%);
  /*
    Make the transform movement smooth
      - Takes a total of 0.3 seconds
      - Starts fast, slows towards end (ease-out)
  */
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  /* Move the drawer along the X axis to be in view */
  transform: translateX(0);
}

.side-drawer ul {
  /* Consume entire height of side-drawer */
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  /* Position links at top of side-drawer */
  justify-content: flex-start;
  top: 0;
  padding-top: 2rem;
  padding-left: 0;
  margin-top: 0;
}

.side-drawer li {
  height: 5rem;
  text-align: center;
}

.side-drawer li:hover {
  background: #F0F0F0;
}

.side-drawer a {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: teal;
  text-decoration: none;
  font-size: 1.5rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #ff8100;
}

/*
  Toolbar will only be shown when screen size is >= 768px
  SideDrawer will only be shown when screen size is <= 769px
*/
@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}
