.App {
  height: 100%;
}

main {
  margin-top: 65px;
}

.pins-container {
  text-align: center;
}

.pins-container img {
  display: block;
  margin: auto;
  height: auto;
}

.pins-urls-pre-wrap,
.boards-data-pre-wrap,
.pins-data-pre-wrap {
  width: 80%;
  max-width: 80%;
  margin: auto;
  font-size: 12px;
  overflow-wrap: break-word;
  overflow-x: hidden;
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .pins-container img {
    max-width: 80%;
    min-width: 80%;
  }
}

@media (min-width: 769px) {
  .pins-container img {
    max-width: 50%;
  }
}
