.App {
  height: 100%;
}

main {
  margin-top: 65px;
}

.pins-container img {
  display: block;
  margin: auto;
  height: auto;
}


@media (max-width: 768px) {
  .pins-container img {
    max-width: 80%;
    min-width: 80%;
  }
}

@media (min-width: 769px) {
  .pins-container img {
    max-width: 50%;
  }
}
