/*
  Important Notice!

  We are using height: 100% instead of height: 100vh in App.css, which means
  we must also set the same for html and body, since App is nested within these.
  This relates to our styling for SideDrawer, which also has height: 100%.

  While vh is largely supported as this time, it's still relatively new and this
  is not much more work to ensure consistent styling across devices/clients.
*/

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

footer {
  position: fixed;
  padding: 0.25rem;
  background-color: #EFEFEF;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.5rem;
  color: grey;
  padding-right: 1rem;
}

footer .contributor {
  color: black;
  padding-left: 1px;
  text-decoration: none;
}
